
[class^="col"]{
  border: 2px solid greenyellow;
  color: greenyellow;
  min-height: 90px;
}


header{
  height: 90px;
  background-color: #2C3E50;
}

.jumbotron{
  background-color: #3FBD9C;
  height: 600px;
  width: 100%;
}

.jumbo_img{
  height: 300px;
}

.sk_i{
  height: 200px;
}



